body {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    color: #fff;
    background-color: cornflowerblue;
    
    margin: 0 auto;
}

input,
button {
    border: solid black;
}

button {
    cursor: pointer;
    
}

.container {
    width: 600px;
}

