body {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    color: #222;
    background-color: slategray;
}

input,
button {
    border: solid black;
}

button {
    cursor: pointer;

}

.remove {
    background-color: blue;
}

.container {
    width: 600px;
    min-height: 800px;
    /* arbitrary dimensions */
    margin: 0 auto 0;
    padding: 0 5px;
    background-color: #fff;

}
